body {
  margin: 0;
}
.first-section {
  display: flex;
}
h1 {
  font-family: "Poppins", sans-serif;
  font-family: "Yeseva One", cursive;
  font-size: 50px;
}
.border {
  border-left: 4px solid tomato;
  padding-left: 10px;
  border-radius: 7px;
}
.heading-color {
  color: sandybrown;
}
.flex {
  width: 50%;
  padding-left: 10%;
  padding-top: 8%;
}
.flex img {
  width: 80%;
}
.button {
  text-decoration: none;
  color: white;
  background-color: tomato;
  padding: 15px 40px;
  font-weight: 700;
  border-radius: 5px;
}
#center {
  text-align: center;
}


}
.part {
  border: 1px solid white;
}
.div-image img {
  width: 40%;
}
.first-color {
  background-color: rgb(230, 240, 243);
  margin-left:10%;
  margin-bottom: 10%;
  padding: 25px;
  border-radius: 20px;
}
.second-color {
  background-color: rgb(248, 236, 240);
  margin-left: 20px;
  margin-bottom: 10%;
  padding: 25px;
  border-radius: 20px;
}
.third-color {
  background-color: rgb(193, 209, 230);
  margin-right: 10%;
  margin-left: 20px;
  margin-bottom: 10%;
  padding: 25px;
  border-radius: 20px;
}
